@use "../../../partials/partials" as *;
.leftside {
  display: none;
  @include desktop {
    display: initial;
    margin-top: 3.1875rem;
    &__toprow {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      margin-top: 2.625rem;
      padding: 0.625rem 0rem;
      margin-left: 0.5rem;
      margin-right: 4rem;
    }
    &__row {
      display: flex;
      align-items: center;
      margin-bottom: 2.8125rem;
      margin-top: 1.25rem;
      padding: 0.625rem 0rem;
      margin-left: 0.5rem;
      margin-right: 4rem;
    }
    &__names {
      margin: 0rem 0rem 0rem 0.5rem;
    }
    &__avatar {
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 50%;
    }
  }
}
