@use "../../../partials/partials" as *;

.rightside {
  display: none;

  @include tablet {
    display: initial;
    margin-top: 3.1875rem;
    &__schedule {
      display: flex;
      flex-direction: column;
      margin-left: 2.375rem;
    }
    ::-webkit-scrollbar {
      display: none;
    }
    &__gigBox {
      overflow-y: scroll;
      height: 29.75rem;
      box-sizing: content-box;
    }
    &__column {
      width: 100%;
    }
    &__names {
      margin: 0rem 0rem 0rem 0.5rem;
      color: #f5cb5c;
      font-size: 1.25rem;
    }
    &__row {
      display: flex;
      width: 14.375rem;
      border: 0.0625rem solid darkgrey;
      border-radius: 0.3125rem;
      padding: 0.75rem 0rem 0.75rem 0.5rem;
      background: #212121;

      margin-bottom: 0.375rem;

      p {
        margin-bottom: 0;
        margin-left: 0.5rem;
      }
      img {
        height: 5rem;
        width: 5rem;
      }
    }
    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      margin-top: 3.5rem;
      padding: 0.625rem 0rem;
      margin-right: 4rem;
      color: #f5cb5c;
    }
  }
  @include desktop {
    &__row {
      width: 16.1875rem;
    }
    &__schedule {
      margin-left: 3.625rem;
    }
  }
}
