@use "../../partials/_partials" as *;

* {
  margin: 0;
  font-family: "Helvetica";
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #1b1a1a;
  &__logo {
    text-decoration: none;
    width: 6.25rem;
    height: 6.25rem;
  }
  &__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
    height: 5.9375rem;
    background: #f5cb5c;
  }
  &__about {
    text-decoration: none;
    color: #242423;
    margin-right: 0.25rem;
    :hover {
      text-decoration: underline black;
    }
  }
  &__faq {
    text-decoration: none;
    color: #242423;
    margin-right: 0.25rem;
    :hover {
      text-decoration: underline black;
    }
  }
  &__contact {
    text-decoration: none;
    color: #242423;
    :hover {
      text-decoration: underline black;
    }
  }
  @include tablet {
    &__box {
      width: 48rem;
      justify-content: space-between;
    }
    &__contact {
      margin-right: 0.75rem;
    }
  }
  @include desktop {
    &__box {
      width: 90rem;
    }
    &__logo {
      height: 6.875rem;
      width: 6.875rem;
    }
    &__contact {
      margin-right: 1rem;
    }
  }
}
