.form {
  display: flex;
  flex-direction: column;
  width: 40%;
  z-index: +1;
  &__input {
    border-radius: 5px;
    background: #fafafa;
  }
  &__modal {
    background: #1b1a1a;
    color: #f5cb5c;
  }
}
