@use "../../partials/_partials" as *;

.hero {
  &__box {
    display: flex;
    justify-content: center;
    background: #1b1a1a;
  }
  &__title {
    font-size: 26px;
    margin-bottom: 40px;
  }

  &__background {
    width: 320px;
    height: 600px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, #1b1a1a, transparent),
      url(../../assets/photos/filip-andrejevic-QmX5lw8StoQ-unsplash.jpg);
    background-size: cover;
    background-position: center;

    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__call {
    width: 299px;
    height: 166px;
    display: flex;
    justify-content: center;
    background-color: rgba(27, 26, 26, 0.9);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__logIn {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
    margin-right: 8px;
    color: black;
  }
  &__signUp {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #f5cb5c;
    color: black;
  }
  @include tablet {
    &__background {
      width: 768px;
    }
  }
  @include desktop {
    &__background {
      width: 1440px;
      height: 750px;
    }
    &__call {
      width: 400px;
    }
    &__signUp {
      width: 120px;
      height: 40px;
    }
    &__logIn {
      width: 120px;
      height: 40px;
    }
  }
}
