@use "../../partials/_partials" as *;

.hero {
  &__box {
    display: flex;
    justify-content: center;
    z-index: -1;
  }
  &__title {
    font-size: 1.625rem;
    margin-bottom: 2.5rem;
  }

  &__background {
    width: 20rem;
    height: 37.5rem;
    display: flex;
    justify-content: center;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to top, #1b1a1a, transparent),
      url(../../assets/photos/filip-andrejevic-QmX5lw8StoQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
  }
  &__video {
    width: 100%;
    height: 100%;
    z-index: -4;
    display: none;
  }
  &__call {
    width: 18.6875rem;
    height: 10.375rem;
    display: flex;
    justify-content: center;
    background-color: rgba(27, 26, 26, 0.9);
    box-shadow: 0rem 0.25rem 0.25rem rgb(0 0 0 / 25%);
    border-radius: 0.3125rem;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    position: absolute;
  }
  &__logIn {
    width: 6.25rem;
    height: 1.875rem;
    border-radius: 0.3125rem;
    border: none;
    background-color: white;
    margin-right: 0.5rem;
    color: black;
  }
  &__signUp {
    width: 6.25rem;
    height: 1.875rem;
    border-radius: 0.3125rem;
    border: none;
    background-color: #f5cb5c;
    color: black;
  }
  @include tablet {
    &__background {
      width: 48rem;
      height: auto;
      background: none;
    }
    &__video {
      display: initial;
    }
  }
  @include desktop {
    &__background {
      width: 90rem;
      height: 50.625rem;
    }
    &__call {
      width: 25rem;
    }
    &__signUp {
      width: 7.5rem;
      height: 2.5rem;
    }
    &__logIn {
      width: 7.5rem;
      height: 2.5rem;
    }
  }
}
