$mobile: 320px;
$tablet: 768px;
$desktop: 769px;

// Fonts

@font-face {
  font-family: "Helvetica";
  src: url("./fonts/Helvetica.ttf");
}

//media query

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1440px) {
    @content;
  }
}
