@use "../../partials/partials" as *;

.pForget {
  margin-top: 6.25rem;
  width: 20rem;
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__card {
    width: 20rem !important;
  }
  &__button {
    width: 100% !important;
    background-color: #f5cb5c !important;
    color: #1b1a1a;
    border: none;
  }
  @include tablet {
    width: 48rem;
  }
}
