@use "../../partials/partials" as *;

.pForget {
  margin-top: 100px;
  width: 320px;
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__card {
    width: 320px !important;
  }
  &__button {
    width: 100% !important;
    background-color: #f5cb5c !important;
    color: #1b1a1a;
    border: none;
  }
  @include tablet {
    width: 768px;
  }
}
