@use "../../../partials/partials" as *;

.userPage {
  &__profileImg {
    height: 150px;
    width: 150px;
  }
  &__topBox {
    width: 100%;
    display: flex;
    margin-bottom: 16px;
    margin-top: 16px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 12px 0px;
    background: #212121;
    h5 {
      color: #f5cb5c;
    }
  }
  &__bottomBox {
    width: 100%;
    display: flex;
    margin-bottom: 16px;
    margin-top: 16px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 12px 0px;
    background: #212121;
    h5 {
      color: #f5cb5c;
    }
  }
}
