@use "../../../partials/partials" as *;

.userPage {
  &__profileImg {
    height: 9.375rem;
    width: 9.375rem;
    margin-right: 1rem;
    border-radius: 0.3125rem;
  }

  &__topBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 0.0625rem solid darkgrey;
    border-radius: 0.3125rem;
    padding: 0.75rem 0.75rem;
    background: #212121;
    h5 {
      color: #f5cb5c;
    }
  }

  &__title {
    margin-top: 0.75rem;
  }
  &__bottomBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 0.0625rem solid darkgrey;
    border-radius: 0.3125rem;
    padding: 0.75rem 0.75rem;
    background: #212121;
    h5 {
      color: #f5cb5c;
    }
    p {
      margin-bottom: 0.5rem;
    }
  }

  @include tablet {
    &__topBox {
      flex-direction: row;
    }
    &__bottomBox {
      flex-direction: row;
    }
    &__bandBox {
      margin-left: 1rem;
    }
  }
}

#userPage__calendly {
  background-color: #1b1a1a !important;
  overflow-y: visible;
  margin-bottom: 2.5rem;
  width: 100%;
  box-sizing: content-box;
}

.calendly-inline-widget {
  background-color: #1b1a1a !important;
  overflow-y: visible i !important;
  width: 100%;

  box-sizing: content-box;
}
#schedule_form {
  background-color: #1b1a1a !important;
  overflow-y: hidden;
  width: 100%;

  box-sizing: content-box;
  iframe {
    height: 62.9375rem;
    ::-webkit-scrollbar {
      display: none;
    }
  }
}
