@use "../../../partials/partials" as *;

.userHome {
  display: flex;
  justify-content: center;
  background: #1b1a1a;
  height: 100vh;
  &__homeBox {
    display: flex;
    margin-bottom: 16px;
    margin-top: 16px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 12px 0px;
    background: #212121;
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    &--size {
      width: 35px;
      height: 35px;
    }
  }
  &__hover {
    :hover {
      border-bottom: 2px solid #f5cb5c;
    }
  }
  &__textArea {
    height: 25px;
    border-radius: 20px;
  }
  &__date {
    margin-left: 20px;
  }
  &__friendAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 12px;
    margin-left: 10px;
  }
  &__postBox {
    border: 1px solid darkgrey;
    border-radius: 5px;
    background: #212121;
    margin-bottom: 10px;
  }
  &__container {
    width: 320px;
    display: flex;
    flex-direction: column;
    color: white;
  }
  &__border {
    margin-bottom: 12px;
    padding-bottom: 12px;
    margin-left: 10px;
  }
  &__row {
    display: flex;
    align-items: center;
    padding: 12px 0px;
  }
  &__post {
    border-radius: 5px;
    text-align: left;
    width: 227px;
    color: dimgray;
  }

  @include tablet {
    &__container {
      width: 500px;
    }
    &__date {
      margin-right: 5px;
    }
    &__post {
      width: 400px;
      margin-right: 20px;
    }
  }
  @include desktop {
    &__container {
      width: 768px;
      margin-left: 40px;
    }
    &__date {
      margin-right: 5px;
    }
    &__post {
      width: 667px;
    }
  }
}

.bigBox {
  display: flex;
  background: #1b1a1a;
  height: 100vh;
  color: white;
  justify-content: center;
  @include tablet {
    &__box {
      width: 768px;
      display: flex;
      background: #1b1a1a;
      height: 100vh;
    }
  }
  @include desktop {
    &__box {
      width: 1440px;
      display: flex;
      background: #1b1a1a;
      height: 100vh;
    }
  }
}
