@use "../../../partials/partials" as *;

.venues {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.3125rem;
  padding: 0.75rem 0rem;
  background-image: linear-gradient(to top, #1b1a1a, transparent),
    url(../../../assets/photos/filip-andrejevic-QmX5lw8StoQ-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 25rem;
  &__formBox {
    margin-top: 8.4375rem;
  }
  &__button {
    width: 6.25rem;
    height: 1.875rem;
    border-radius: 0.3125rem;
    border: none;
    background-color: #f5cb5c;
    color: black;
    margin-top: 0.75rem;
    margin-left: 12.5rem;
  }
  h3 {
    margin-left: 1rem;
  }
  &__search {
    width: 80%;
    margin-left: 1rem;
    border-radius: 0.3125rem;
    background-color: #f8f9fa;
    border: none;
    height: 2.25rem;
    padding-left: 0.625rem;
  }

  &__homeBox {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 0.0625rem solid darkgrey;
    border-radius: 0.3125rem;
    padding: 0.75rem 0rem;
    background: #212121;
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    &--size {
      width: 2.1875rem;
      height: 2.1875rem;
    }
  }
  &__hover {
    :hover {
      border-bottom: 0.125rem solid #f5cb5c;
    }
  }
  &__textArea {
    height: 1.5625rem;
    border-radius: 1.25rem;
  }

  &__friendAvatar {
    width: 9.375rem;
    height: 9.375rem;
    margin-right: 0.75rem;
    margin-left: 0.625rem;
    border-radius: 0.3125rem;
  }
  &__postBox {
    border: 0.0625rem solid darkgrey;
    border-radius: 0.3125rem;
    background: #212121;
    margin-bottom: 0.625rem;
  }
  &__container {
    width: 20rem;
    display: flex;
    flex-direction: column;
    color: white;
  }
  &__border {
    margin-bottom: 0.75rem;
    padding-bottom: 0.75rem;
  }
  &__row {
    display: flex;
    align-items: center;
    padding: 0.75rem 0rem;
  }
  &__column {
    display: flex;
    flex-direction: column;
    p {
      margin-bottom: 0;
    }
  }

  @include tablet {
    &__container {
      width: 31.25rem;
    }
    &__button {
      margin-left: 23.625rem;
    }
  }
  @include desktop {
    &__container {
      width: 48rem;
      margin-left: 2.5rem;
    }
    &__date {
      margin-right: 0.3125rem;
    }
    &__button {
      margin-left: 40.4375rem;
    }
  }
}

.bigBoxVenue {
  display: flex;
  background: #1b1a1a;
  color: white;
  justify-content: center;
  @include tablet {
    &__box {
      width: 48rem;
      display: flex;
      background: #1b1a1a;
    }
  }
  @include desktop {
    &__box {
      width: 90rem;
      display: flex;
      background: #1b1a1a;
    }
  }
}
