@use "../../../partials/partials" as *;

.venues {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 16px;
  border: 1px solid darkgrey;
  border-radius: 5px;
  padding: 12px 0px;
  background-image: linear-gradient(to top, #1b1a1a, transparent),
    url(../../../assets/photos/filip-andrejevic-QmX5lw8StoQ-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  &__formBox {
    margin-top: 100px;
  }
  &__button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #f5cb5c;
    color: black;
    margin-top: 12px;
    margin-left: 200px;
  }
  h3 {
    margin-left: 16px;
  }
  &__search {
    width: 80%;
    margin-left: 16px;
    border-radius: 5px;
    background-color: #f8f9fa;
    border: none;
    height: 36px;
  }

  &__homeBox {
    display: flex;
    margin-bottom: 16px;
    margin-top: 16px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 12px 0px;
    background: #212121;
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    &--size {
      width: 35px;
      height: 35px;
    }
  }
  &__hover {
    :hover {
      border-bottom: 2px solid #f5cb5c;
    }
  }
  &__textArea {
    height: 25px;
    border-radius: 20px;
  }

  &__friendAvatar {
    width: 150px;
    height: 150px;
    margin-right: 12px;
    margin-left: 10px;
    border-radius: 5px;
  }
  &__postBox {
    border: 1px solid darkgrey;
    border-radius: 5px;
    background: #212121;
    margin-bottom: 10px;
  }
  &__container {
    width: 320px;
    display: flex;
    flex-direction: column;
    color: white;
  }
  &__border {
    margin-bottom: 12px;
    padding-bottom: 12px;
  }
  &__row {
    display: flex;
    align-items: center;
    padding: 12px 0px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    p {
      margin-bottom: 0;
    }
  }

  @include tablet {
    &__container {
      width: 500px;
    }
    &__button {
      margin-left: 378px;
    }
  }
  @include desktop {
    &__container {
      width: 768px;
      margin-left: 40px;
    }
    &__date {
      margin-right: 5px;
    }
    &__button {
      margin-left: 647px;
    }
  }
}

.bigBoxVenue {
  display: flex;
  background: #1b1a1a;
  color: white;
  justify-content: center;
  @include tablet {
    &__box {
      width: 768px;
      display: flex;
      background: #1b1a1a;
    }
  }
  @include desktop {
    &__box {
      width: 1440px;
      display: flex;
      background: #1b1a1a;
    }
  }
}

.leftsideVenue {
  display: none;
  @include desktop {
    display: initial;
    margin-top: 51px;
    &__row {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      margin-top: 16px;
      padding: 10px 0px;
      margin-left: 8px;
      margin-right: 64px;
    }
    &__names {
      margin: 0px 0px 0px 8px;
    }
    &__avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}
.rightsideVenue {
  display: none;

  @include tablet {
    display: initial;
    margin-top: 51px;
    &__schedule {
      display: flex;
      flex-direction: column;
      margin-left: 38px;
    }
    &__row {
      display: flex;
      flex-direction: column;
      border: 1px solid darkgrey;
      border-radius: 5px;
      padding: 5px 0px;
      background: #212121;
      padding-bottom: 12px;
      margin-bottom: 6px;
      padding: 8px;
      p {
        margin-bottom: 0;
        margin-left: 8px;
      }
    }
    &__title {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      margin-top: 16px;
      padding: 10px 0px;
      margin-right: 64px;
      color: #f5cb5c;
    }
  }
  @include desktop {
    &__schedule {
      margin-left: 90px;
    }
  }
}
